@import 'blocs/header';
@import 'blocs/footer';
@import 'mixins';

$crow:rgb(40,40,40)

@font-face {
 font-family: "Roboto";
 src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

h1 {
  color: brown;
  font-family: "Roboto", Arial;

  &:hover {
    color: green;
  }
}
